[submodule "build_scripts/api/repositories/BLIP"]
	path = build_scripts/api/repositories/BLIP
	url = https://github.com/salesforce/BLIP.git
[submodule "build_scripts/api/repositories/generative-models"]
	path = build_scripts/api/repositories/generative-models
	url = https://github.com/Stability-AI/generative-models.git
[submodule "build_scripts/api/repositories/k-diffusion"]
	path = build_scripts/api/repositories/k-diffusion
	url = https://github.com/crowsonkb/k-diffusion.git
[submodule "build_scripts/api/repositories/stable-diffusion-stability-ai"]
    path = build_scripts/api/repositories/stable-diffusion-stability-ai
    url = https://github.com/Stability-AI/stablediffusion.git
[submodule "build_scripts/api/repositories/CodeFormer"]
	path = build_scripts/api/repositories/CodeFormer
	url = https://github.com/sczhou/CodeFormer.git
