[submodule "build_scripts/api/repositories/generative-models"]
	path = build_scripts/api/repositories/generative-models
	url = git@github.com:Stability-AI/generative-models.git
[submodule "build_scripts/api/repositories/k-diffusion"]
	path = build_scripts/api/repositories/k-diffusion
	url = git@github.com:crowsonkb/k-diffusion.git
